<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Movie API Client</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome to the Movie App!</h2>
        <p>Click the link below to view all videos:</p>
        <a href="{{ url_for('all_videos') }}">All Videos</a>
        <h2>Add Movie</h2>
        <form id="addMovieForm">
            <div class="form-group">
                <label for="name">ID:</label>
                <input type="text" class="form-control" id="ID" required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="views">Views:</label>
                <input type="number" class="form-control" id="views" required>
            </div>
            <div class="form-group">
                <label for="likes">Likes:</label>
                <input type="number" class="form-control" id="likes" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="addMovie()">Add Movie</button>
        </form>
    </div>

<script>
        function addMovie() {
            const name = document.getElementById('name').value;
            const views = document.getElementById('views').value;
            const likes = document.getElementById('likes').value;
            const videoID = document.getElementById('ID').value;
    
            // Ensure views and likes are sent as integers
            const formData = {
                name: name,
                views: parseInt(views, 10), // base 10
                likes: parseInt(likes, 10), // base 10
            };
            // Construct the URL with the dynamic videoID
            console.log(videoID);
            const apiUrl = `/video/${videoID}`;
            
            // You can use fetch to make a POST request to your Flask API
            fetch(apiUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // You can handle success, e.g., show a success message to the user
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error, show an error message to the user
            });
        }
</script>
    
    
</body>
</html>
