<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Movie API Client</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome to the Movie App!</h2>
        <p>Click the link below to view all videos:</p>
        <a href="{{ url_for('all_videos') }}">All Videos</a>
        <h2>Remove Movie from DB</h2>
        <form id="addMovieForm">
            <div class="form-group">
                <label for="name">ID:</label>
                <input type="text" class="form-control" id="ID" required>
    </div>
    <button type="button" class="btn btn-primary" onclick="deleteMovie()">Delete Movie</button>
</form>

<script>
        function deleteMovie() {
            
            const videoID = document.getElementById('ID').value;
    
            // Construct the URL with the dynamic videoID
            console.log(videoID);
            const apiUrl = `/video/${videoID}`;
            
            // You can use fetch to make a POST request to your Flask API
            fetch(apiUrl, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
               
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // You can handle success, e.g., show a success message to the user
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error, show an error message to the user
            });
        }
</script>
    
    
</body>
</html>
