<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Movie API Client</title>
    <div id="deleteFeedback"></div>
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome to the Movie App!</h2>
        <p>Click the link below to view all videos:</p>
        <a href="{{ url_for('all_videos') }}">All Videos</a>
        <h2>Remove Movie from DB</h2>
        <form id="deleteMovieForm">
            <div class="form-group">
                <label for="name">ID:</label>
                <input type="text" class="form-control" id="deleteID" required>
            </div>
            <button type="button" class="btn btn-danger" onclick="deleteMovie()">Delete Movie</button>
        </form>
    </div>

    <script>
        function deleteMovie() {
            const videoID = document.getElementById('deleteID').value;
            const apiUrl = `/video/${videoID}`;
            const deleteFeedbackElement = document.getElementById('deleteFeedback');

            fetch(apiUrl, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Movie not found or other error');
                }
            })
            .then(data => {
                console.log('Success:', data);
                // Display success message
                deleteFeedbackElement.innerHTML = '<div class="alert alert-success" role="alert">Movie deleted successfully!</div>';
            })
            .catch(error => {
                console.error('Error:', error);
                // Display error message
                deleteFeedbackElement.innerHTML = '<div class="alert alert-danger" role="alert">Error deleting movie. Please check the ID and try again.</div>';
            });
        }
    </script>
</body>
</html>
